*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #800000;
  font-family: Helvetica, sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 40%;
}

h1 {
  font-size: 1.8em;
  font-weight: 700;
  padding-bottom: 5px;
}

h3 {
  font-size: 1.4em;
}

.restaurant-list {
  padding: 50px 0;
}

 .content {
  background-color: #DBDBDB;
  border: 0.5px solid #8C8C8C;
  padding: 5%;
}

.content:hover {
  background-color: #B3B3B3;
}


nav {
  background-color: #000000;
  margin: 0 auto;
  padding: 10px 0 20px 15px;
  position: fixed;
  width: 40%;
}

.arrow {
  position: relative;
  float: right;
  left: -20px;
  bottom: 50px

}
